{{#each filterOptions}}
    <label for="{{{@key}}}-toggle">Filter {{{@key}}}:</label>
    <select id="{{{@key}}}-toggle" class="dropdown filter js-filter" data-filter-key="{{{@key}}}">
        {{#each this}}
            <option value="{{{this}}}">{{{this}}}</option>
        {{/each}}
    </select>
{{/each}}

<label for="order-by">Order By:</label>
<select id="order-by" class="dropdown order-by js-order-by">
    {{#each orderOptions}}
        <option value="{{{this}}}" {{#compare this ../orderSelected}}selected{{/compare}}>{{{this}}}</option>
    {{/each}}
</select>